:root{
    --sizeh:640px;
    --sizew:100%;
}
.containerImg *{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}
.containerImg{    
    position: relative;
    width: var(--sizew);
    height: var(--sizeh);
    border: thin solid black;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
img{
    position: absolute;
    width: var(--sizew);
    height: var(--sizeh);
    left:-100%;
    top: 0;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    transition: 0s;
    z-index: 1;
}
.btnsControler{
    background: url('img/fundo.png');
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
    z-index: 2;
    border: none;
    width: 80px;
    color: #fff;
    height: 80px;
    display: none;
    cursor: pointer;
    z-index: 3;
}
.avancar{
    left: auto;
    right: 0;
    margin-left: 150px;
}
.containerImg:hover .btnsControler{
    display: block;
}
#containerMiniatura{
    position: absolute;
    background: url('img/fundo.png');
    width: 100%;
    z-index: 2;
    padding: 3px;
    color: white;
    --tamanho: 30px;
    height: var(--tamanho);    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top:  calc(100% - 35px);
    display: none;
}
.containerImg:hover #containerMiniatura{
    display: flex;
}
.divMini{
    position: relative;
    top:0;
    left:0;
    width: 20px;
    height: auto;
    border: thin solid blue;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
.imgMini{
    position: absolute;
    top:-90px;
    left: 0;
    width: 120px;
    height: 80px;
    display: none;
}
.divMini:hover .imgMini{
    display: block;
}